<%- include('../_layouts/header') %>

<div class="container mt-5">
  <h2>Edit Order</h2>

  <form action="/admin/orders/edit/<%= order._id %>" method="POST">
    
    <div class="card mb-4">
      <div class="card-header">User Info</div>
      <div class="card-body">
        <p><strong>Name:</strong> <%= order.user.name %></p>
        <p><strong>Email:</strong> <%= order.user.email %></p>
        <p><strong>Mobile:</strong> <%= order.user.mobile || 'N/A' %></p>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">Ordered Items</div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <% order.items.forEach(item => { %>
              <tr>
                <td><%= item.product.title %></td>
                <td><%= item.quantity %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">Payment Info</div>
      <div class="card-body">
        <div class="form-group">
          <label>Total Amount</label>
          <input class="form-control" type="number" value="<%= order.totalAmount %>" disabled>
        </div>

        <!-- <div class="form-group mt-3">
          <label>Amount Paid</label>
          <input class="form-control" type="number" name="amountPaid" value="<%= order.paidAmount %>" required>
        </div> -->

        <div class="form-group mt-3">
          <label>Previously Paid</label>
          <input class="form-control" type="number" value="<%= order.paidAmount %>" disabled>
        </div>

        <div class="form-group mt-3">
          <label>Add New Payment</label>
          <input class="form-control" type="number" name="newPayment" value="0" >
        </div>
      </div>
    </div>

    <button class="btn btn-primary mt-3" type="submit">Update Order</button>
  </form>
</div>

<%- include('../_layouts/footer') %>
